body {
  background-image: url(./assets/tie-dye.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* Title */
@font-face {
  font-family: myFont;
  src: url(./assets/chicle.ttf);
}

h1{
  text-align: center;
  font-family: myFont;
  color: green;
  text-shadow: 5px 5px 10px white;
}

/* Board */
.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 5rem;
  background-color: rgb(159, 225, 255);
}

.square-container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

/* Button */
button {
  color: purple;
  background-color: rgb(159, 225, 255);
  font-size: xx-large;
  font-family: myFont;
}
.button-center {
  text-align: center;
  margin-top: 10px;
}