h1{
  text-align: center;
}

.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

.square-container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}